# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Logs
*.log

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite DB
*.sqlite3

# macOS
.DS_Store

# Virtualenv
venv/
